main{
    background-color: white;

}

body {
    background-color: #d2f4ea;
}


#addlabel {
    font-size: 1.2em;
    font-weight: bold;
}

#addcategory {
    border: none;
    background: none;
    padding: 0px;
    line-height: 16px;
}

.bi-plus-square {
    font-size: 2rem;
}

.category_header {
    width: 13%;
}
