{% extends "base.html" %}

{% block title %}

    Log In

{% endblock %}

{% block main %}
    <form method="POST">
        <div class="row text-center py-5 justify-content-center">
            <div class="col-auto">
                <div class="input-group my-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
                </div>
                <div class="input-group my-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                    <span class="input-group-text" onclick="password_show_hide();">
                        <i class="fas fa-eye d-none" id="show_eye"></i>
                        <i class="fas fa-eye-slash" id="hide_eye"></i>
                    </span>
                </div>
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
        </div>
    </form>
    <script src="{{url_for('static', filename='password_show.js')}}"></script>
{% endblock %}