{% extends "base.html" %}

{% block title %}

    Log In

{% endblock %}

{% block main %}
    <div id="login-test">
        <div id="login-group" class="form-signin w-100 shadow">
            <form method="post">
                <img class="mb-4" src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="96" height="96">
                <h1 class="h3 mb-3 fw-normal" style="color: #17252a">Please sign in</h1>
                <div class="form-floating">
                    <input type="text" class="form-control " id="floatingInput" name="username" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="login-errors">
                    <p class="error">{{ get_flashed_messages() | join(" ") }}</p>
                </div>
                <button id="login-button" class="w-100 btn btn-lg" type="submit">Sign in</button>
            </form>
        </div>
    </div>
    <script src="{{url_for('static', filename='password_show.js')}}"></script>
{% endblock %}