{% extends "base.html" %}

{% block title %}

    Register

{% endblock %}

{% block main %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
        <div id="register-text" class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3" style="color: #17252a">NairaLens is a simple expense tracking website powered by AI</h1>
            <p class="col-lg-11 fs-4" style="color: #feffff">
                You can upload your .csv bank statements from many of the most common banks.
                Then see where your money is being spent using our category grouping tools, 
                and view an expense breakdown on your summary page. And then get FIANACIAL ADVICE using our AI technology to help improve spending decisions and habits
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form id="register-form" class="p-4 p-md-5 shadow" method="post">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="login-errors">
                <p class="error">{{ get_flashed_messages() | join(" ") }}</p>
            </div>
            <button class="btn btn-lg w-100" type="submit" id="login-button">Sign up</button>
            <hr class="my-4">
            <small style="color: #17252a;">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='password_show.js')}}"></script>
{% endblock %}