{% extends "base.html" %}

{% block title %}

 Upload

{% endblock %}

{% block main %}
    <div id="import-form" class="shadow">
        <form action="/import" method="post" enctype="multipart/form-data"">
            <p id="accepted-formats">Accepted banks: <br>
                 Ally Bank, Bank of America, Discover, Chase, Wells Fargo 
                 <br>Files must be in .csv format!</p>
            <input type="file" class="form-control" id="upload-input" 
                name="file" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn shadow" type="submit" id="upload-button">Upload</button>
        </form>
    </div>
{% endblock %}