{% extends "base.html" %}

{% block title %}

    Summary

{% endblock %}

{% block main %}
    <form id="summary_table" method="post"></form>
        <div class="row mx-5 px-1 py-1" style="background-color: blueviolet;">
            <div class="col-auto" style="background-color: white;">
                <button type="button" class="btn btn-outline-primary" onclick="addnew()" id="addcategory">
                    <i class="bi bi-plus-square text-primary"></i>
                </button>
                <label class="text-primary" id="addlabel">Add Category</label>
            </div>
        </div>
        <div class="px-5">
            <table class="table table-hover" id="categorytable">
                <thead>
                    <th class="category_header" style="background-color: rgb(186, 87, 87);">Categories</th>
                    <th style="background-color: rgb(94, 160, 160);">Budget</th>
                    <th style="background-color: rgb(168, 203, 101);">Category Totals</th>
                </thead>
                <tbody>
                    {% for row in categories %}
                    <tr>
                        <td class="py-1">
                            <div class="input-group py-0">
                                <button type="button" class="remove_button"><i class="bi bi-x-lg"></i></button>
                                <input class="form-control" type="text" name="category_input" placeholder="Type" 
                                        value="{{ row.category }}" readonly>
                            </div>
                        </td>
                        <td style="background-color: rgb(94, 160, 160);">budget</td>
                        <td style="background-color: rgb(168, 203, 101);" class="{{ row.category }}">{{ row.amount }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
    
                </tfoot>
            </table>
        </div>
    </form>
    <script src="{{url_for('static', filename='add_category.js')}}"></script>
    <script src="{{url_for('static', filename='save_categories.js')}}"></script>
    <script src="{{url_for('static', filename='remove_category.js')}}"></script>
{% endblock %}