{% extends "base.html" %}

{% block title %}

    Summary

{% endblock %}

{% block main %}
    <form id="summary_table" method="post"></form>
        <div class="row mx-5 px-1 py-1" style="background-color: blueviolet;">
            <div class="col-auto" style="background-color: white;">
                <button type="button" class="btn btn-outline-primary" onclick="addnew()" id="addcategory">
                    <i class="bi bi-plus-square text-primary"></i>
                </button>
                <label class="text-primary" id="addlabel">Add Category</label>
            </div>
        </div>
        <div class="px-5">
            <table class="table table-hover" id="categorytable">
                <thead>
                    <th class="category_header" style="background-color: rgb(186, 87, 87);">Categories</th>
                    <th style="background-color: rgb(94, 160, 160);">Budget</th>
                    <th style="background-color: rgb(168, 203, 101);">Category Totals</th>
                </thead>
                <tbody>
                    {% for row in categories %}
                        <tr>
                            <td class="py-1">
                                <div class="input-group pt-1">
                                    <button type="button" class="remove_button"><i class="bi bi-x-lg"></i></button>
                                    <input class="form-control" type="text" value="{{ row.category }}" readonly>
                                </div>
                            </td>
                            <td class="budget"><input class="form-control" type="number" placeholder="Budget" value="{{ row.budget }}"></td>
                            {% if row.amount is none %}
                                <td class="amount"></td>
                            {% else %}
                                <td class="amount">${{ row.amount | abs}} </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="totals">
                        <th>Totals:</th>
                        <td class="b-total"></td>
                        <td class="a-total"></td>
                    </tr>
                    <tr class="savings">
                        <th>Savings:</th>
                        <td class="b-savings"></td>
                        <td class="t-savings"></td>
                    </tr>
                    <tr class="income">
                        <th>Income:</th>
                        <td></td>
                        {% for row in categories %}
                            {% if row.category == 'Income' %}
                                <td class="t-income">${{ row.amount | abs}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr class="net">
                        <th>Net:</th>
                        <td></td>
                        <td class="net-income"></td>

                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
    <script src="{{url_for('static', filename='edit_categories.js')}}"></script>
    <script src="{{url_for('static', filename='update_summary.js')}}"></script>
{% endblock %}